<h2>Activities</h2>
<style type="text/css">
 html, body {
                margin: 0;
                padding: 0
            }
            #contentWrapper {
                width: 300px;
                margin: 0 auto;
                background: #ccc;
                height: 100px
            }
            #headerBar {
                height: 40px;
                background: orange
            }
            #footerBar {
                height: 40px;
                background: red
            }
        </style>

<% if (group.isActive()) { %>
  <button class="btn" data-toggle="modal" data-target="#addActivityModal">
    Add Activity
  </button>
  <br><br>
<% } %>

<b>Number of activities:</b> <%= activities.length %><br>
<b>Total Cost:</b> $<%= totalCost %>

<br><br>

<table class="table">
  <tr>
    <th>Added at</th>
    <th>Title</th>
    <th>Cost</th>
    <th></th>
  </tr>
  <% for (var i in activities) { %>
    <tr>
      <td><%= formatDateTime(activities[i].createdAt) %></td>
      <td><%= activities[i].title %></td>
      <td>$<%= activities[i].cost %></td>
      <td>
        <% if (group.isActive()) { %>
          <a href="/groups/destroy_activity/<%= activities[i].id %>">Destroy</a>
        <% } %>
      </td>
    </tr>
  <% } %>
</table>

<div class="modal" id="addActivityModal">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

      <h3 class="modal-title" color = "white">Add Activity</h3>
      </div>
      <div class="modal-body">

        <p class="text-danger js-add-activity-modal-error" style="display:none">
          Something went wrong
        </p>

        <label for="activity_title"><strong>Title</strong></label>
        <input id="activity_title" type="text" name="title" placeholder="e.g. House renting">
        <br>

        <label for="activity_cost"><strong>Cost $</strong></label>
        <input type="number" id="activity_cost" name="cost" placeholder="0">
        <br>

        <input id="activity_group_id" type="hidden" value="<%= group.id %>">

      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button class="btn js-add-activity">Add Activity</button>
      </div>
    </div> <!-- .modal-content -->
  </div> <!-- .modal-dialog -->
</div>
