<% include ../header %>

<h1>Dashboard</h1>

<b>My Total Expenses:</b> $<%= totalExpenses %>

<br>
<br>

<hr>

<h2>Groups I'm in</h2>

<p>Groups count: <%= groups.length %></p>

<table class="table">
  <tr>
    <th>Owner</th>
    <th>Date</th>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Mine</th>
    <th>Total Cost</th>
    <th>Users</th>
    <th></th>
  </tr>
  <% for (var i in groups) { %>
    <tr>
      <td><%= groups[i].User.name %></td>
      <td><%= formatDateTime(groups[i].createdAt) %></td>
      <td><a href="/groups/show/<%= groups[i].id %>"><%= groups[i].name %></a></td>
      <td><%= groups[i].description %></td>
      <td><%= groups[i].getStatus() %></td>
      <td>$<%= groups[i].userCost %></td>
      <td>$<%= groups[i].totalCost %></td>
      <td><%= groups[i].UserShares.length %></td>
      <td></td>
    </tr>
  <% } %>
</table>

<% include ../footer %>
